<!-- Navbar -->
<div
  id="navbar"
  class="fixed top-0 flex items-center justify-between w-full bg-primary px-3 h-16 z-10 shadow-lg"
>
  <!-- Logo izquierdo -->
  <div class="flex items-center gap-6">
    <!-- Logos -->
    <div class="hidden md:block">
      <img
        class="h-14 rounded-md drop-shadow-[0_12px_24px_rgba(255,255,255,1)] transition-all duration-300 ease-in-out hover:scale-110 hover:drop-shadow-[0_20px_32px_rgba(255,255,255,1)]"
        src="assets/images/logos/logoWelBN.png"
        alt="Logo grande"
      />
    </div>
    <div class="block md:hidden">
      <img
        class="h-14 rounded-md drop-shadow-[0_12px_24px_rgba(255,255,255,1)] transition-all duration-300 ease-in-out hover:scale-110 hover:drop-shadow-[0_20px_32px_rgba(255,255,255,1)]"
        src="assets/images/logos/logoWelBNMini.png"
        alt="Logo pequeño"
      />
    </div>
  </div>
  <!-- Contenedor derecho (search + logout) -->
  <div class="flex items-center gap-2">
    <!-- Botón de logout -->
    <button
      class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-100 hover:bg-gray-200 active:bg-gray-300 shadow-md transition"
      aria-label="Cerrar sesión"
      title="Cerrar sesión"
    >
      <svg
        class="w-5 h-5 text-gray-700"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.8"
        stroke="currentColor"
      >
        <!-- Marco -->
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6A2.25 2.25 0 005.25 5.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15"
        />
        <!-- Flecha -->
        <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H9m0 0l3-3m-3 3l3 3" />
      </svg>
    </button>
  </div>
</div>
